body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.wrapper {
  background: gray;
  display: flex;
  flex-direction: column;
  width: 1000px;

  .top-navigation {
    display: flex;
  }

  .main-content {
    background: #ffe87c;
    display: flex;
  }
}