body {
  margin: 0;
  padding: 0;
  font-family sans-serif
}

.main-content
  padding 1em

h1
  margin: 0;
  margin-bottom: 0.4em;

  img
    width: 87px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.3em;
    margin -0.4em

  span
    display: inline-block;
    vertical-align: middle;
    height: 100%;
